#github-sst {
  position: fixed !important;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 1px 20px 0px rgba(155,155,155,0.1), inset 0px -1px 0px 0px #e0e0e0;
  text-align: center;
  color: #8c92a4;
}

#github-sst svg {
  fill: currentColor;
  margin-top: 10px;
}

#github-sst:before {
  content: 'Back to top';
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100px;
  padding-top: 15px;
}

#github-sst:hover:before,
#github-sst:focus:before {
  display: block;
}

#github-sst.shown {
  display: block !important;
}

#github-sst.hidden {
  display: none !important;
}